<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @session_type.type %>
</p>

<%= link_to 'Edit', edit_session_type_path(@session_type) %> |
<%= link_to 'Back', session_types_path %>
