<div class="Box Box--condensed">
  <div class="Box-header">
    <h3 class="Box-title">
      Georg Huebscher
    </h3>commented on 13 Nov 2018
  </div>
  <div class="Box-body">
    Was gibtsn heud zu fuddern <%= octicon("squirrel") %> ?
  </div>
</div>
<br>

<div class="Box Box--condensed">
  <div class="Box-header">
    <h3 class="Box-title">
      Raphael
    </h3>commented on 13 Nov 2018
  </div>
  <div class="Box-body">
    <strong>APQMs on 22.11.2018</strong> target shows severe issues wrt audio dropout in send direction
  </div>
</div>
<br>


<div class="Box Box--condensed">
  <div class="Box-header">
    <h3 class="Box-title">
      Raphael
    </h3>commented on 13 Nov 2018
  </div>
  <div class="Box-body">
    <strong>APQMs on 22.12.2018</strong> target shows severe issues wrt audio dropout in send direction
  </div>
</div>
<br>

<div class="Box Box--condensed">
  <div class="Box-header">
    <h3 class="Box-title">
      Daniel Endres
    </h3>commented on 13 Nov 2018
  </div>
  <div class="Box-body">
    Added target information to "info" section
  </div>
</div>
