<div role="main" class="application-main " data-commit-hovercards-enabled="">
    <div class="pagehead repohead readability-menu experiment-repo-nav">
      <div class="repohead-details-container clearfix container">
      <p id="notice"><%= notice %></p>
      <h1>APQMs</h1>

              </div>

      </div>


      <div class="container new-discussion-timeline experiment-repo-nav">
        <%= render :template => "projects/_all_table_wrapper", locals: {session_type: :APQM}  %>
      </div>
